.home-body {
  box-sizing: border-box;
  background-color: var(--body-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.hero-Container {
  box-sizing: border-box;
  background-image: url(./assets/pcdi-background-dark.png);
  background-size: cover;
  background-attachment: fixed;
  background-color: #00000000;
  padding: 30vh 10%;
  min-height: 92vh;
}

.hero-Container h1 {
  color: var(--text-color);
  font-size: calc(14px + 5vmin);
  margin: auto;
  margin-bottom: 1vmax;
}

.hero-Container p {
  color: var(--text-color);
  font-size: calc(5px + 3vmin);
  margin: auto;
}

.body {
  box-sizing: border-box;
  padding: 2% 10%;
}

#body {
  color: var(--text-color);
  font-size: calc(14px + 1.5vmax);
  margin: auto;
}

.debug-border {
  border: 1px solid;
}